@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
  display: none;
}

.scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* To prevent arrows from showing - number input */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.select,
.selector {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.otp-input {
  @apply border-b border-black outline-none w-16 text-center pb-5 font-semibold text-[2rem];
}

.flex-between-center {
  @apply flex justify-between items-center;
}

.p-head {
  @apply font-semibold text-sm md:text-lg xl:text-2xl text-extra-4;
}

.p-body {
  @apply text-xs md:text-base xl:text-lg text-center mx-auto;
}

.p-small {
  @apply text-xs hidden md:block;
}

.span-body {
  @apply font-bold text-xs md:text-base xl:text-2xl;
}

.flex-btn {
  @apply flex flex-col gap-1;
}

.max-width {
  @apply mx-auto max-w-[30rem] md:max-w-[60rem] xl:max-w-[90rem];
}

.tel-box {
  @apply flex relative;
}

.select-box {
  @apply w-[3.75rem] h-10;
}

.flag-img {
  @apply w-[29.09px] h-5 absolute rounded-custom-sm z-50 mx-auto top-[70%] md:top-[80%] left-[50%] md:left-[60%] xl:left-[70%] translate-x-[-50%] translate-y-[-50%] opacity-80;
}

.select-box {
  @apply relative;
}

.select {
  @apply w-[12%] md:w-[4.6875rem] py-[0.9375rem] bg-bg-4 absolute z-auto outline-none pl-16 md:pl-20 border border-extra-6 rounded-l-custom-lg rounded-r-none;
}

.tel {
  @apply w-full py-[0.9375rem] bg-none border-black outline-none px-7 md:px-9 xl:px-[2.2rem] border border-extra-6 rounded-custom-lg bg-bg-3;
}

.arrow {
  @apply absolute z-50 top-[70%] md:top-[80%] right-[-20%] md:right-[-40%] xl:right-[-50%] translate-x-[-50%] translate-y-[-50%] pointer-events-none;
}

.label {
  @apply font-semibold text-xs md:text-lg;
}

.label-p {
  @apply mb-1.5;
}

.input-general {
  @apply outline-none border py-[0.9375rem] border-extra-6 rounded-custom-lg bg-bg-3 w-full xl:w-[21.875rem] px-5;
}

.input {
  @apply input-general placeholder:opacity-50;
}

.selector {
  @apply input-general;
}

.selector-arrow {
  @apply absolute right-5 top-[60%] md:top-[65%] pointer-events-none;
}
